<!DOCTYPE html>
{% load static %}
<html lang="zh-Hant" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{% static 'css/common_style.css' %}">

  <title>關於我們</title>
</head>

<body>

  {% include "quiz/navbar.html" %}
  <br><br>
  <center>
    <h3 class='alert alert-success' style="margin-bottom:0px;">關於我們！</h3>
  </center>
  <div class="jumbotron" style="margin-bottom: 0px;margin-top: 0px;">

    <p class="lead">本站提供線上平台練習題目<br>教師帳號可以管理課程及考試題目</p>
    <hr class="my-4">
    <p>探索本站</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/" role="button">首頁</a>
    </p>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  </div>

  {% include "quiz/footer.html" %}
</body>

</html>
